<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/estilo.css'%}">
    <title>Document</title>
</head>
<body>
    <h1>Animales</h1>
    <img src="{%static 'images/gato.jpg'%}" style="height: 30%; width: 30%;" onclick="location.href='http://127.0.0.1:8000/gato/'">
    <img src="{%static 'images/perro.jpg'%}" style="width: 30%; height: 30%;" onclick="location.href='http://127.0.0.1:8000/perro/'">
    <img src="{%static 'images/leon.jpg'%}" style="width: 30%; height: 30%;" onclick="location.href='http://127.0.0.1:8000/leon/'">
</body>
</html>